<!--
An element wrapper to allow deepstream logins

A `<ds-login>` can be used to login against the deepstream server, as well as provide connection state.

Example:

		<ds-login auth-params="{{authParams}}" logged-in={{loggedIn}}>
			<input value={{username::changed}}/>
			<input value={{password::changed}}/>
			<button onclick={{login}}>Login</button>
		</ds-login>			
-->
<link rel="import" href="ds-login-behaviour.html">

<script>
	'use-strict';
	Polymer({
		is: 'ds-login',
		behaviors: [
			Polymer.DSLoginBehaviour
		]
	});
</script>